
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$common-color: rgb(24, 52, 82);
$bg-color: rgb(214, 214, 214);
$content-color: rgb(0, 76, 143);
$nav-panel-color: rgb(27, 118, 171);


/* ---- screen sizes ---- */
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;
